.card {
  width: 15.125rem;
  height: 24rem;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column-reverse;

  &__background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 89%;
    clip-path: polygon(15% 0%, 100% 0, 100% 100%, 0 100%, 0 15%);
    border-radius: 0.375em;
    background: #201850;
    z-index: -1;
  }

  &:hover {
    .card__background {
      background: #2c2b74;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
    z-index: -1;
  }

  &__info {
    width: 100%;
    z-index: 2;
    border-radius: 0 0 0.5rem 0.5rem;

    &--common {
      background: linear-gradient(
        180deg,
        rgba(0, 45, 206, 0.46) 0%,
        #0127aa 66.15%
      );
    }

    &--epic {
      background: linear-gradient(
        180deg,
        rgba(110, 4, 215, 0.25) 0%,
        #45008a 66.15%
      );
    }

    &--legendary {
      background: linear-gradient(
        180deg,
        rgba(194, 94, 1, 0.25) 0%,
        #c25e01 66.15%
      );
    }
    .info {
      &__container {
        margin: 1rem;
        border-left: 0.25rem solid;

        &--common {
          color: #00c2ff;
          border-color: #00c2ff;
        }

        &--epic {
          color: #ff7bfa;
          border-color: #ff7bfa;
        }

        &--legendary {
          color: #ffb800;
          border-color: #ffb800;
        }
      }

      &__hero {
        margin-bottom: -1px;
        text-transform: uppercase;

        .hero {
          &__title {
            padding-top: 0.3rem;
            padding-left: 1rem;
            color: inherit;
            font-weight: 600;
            font-size: 0.75em;
            line-height: 1.33;
          }

          &__name {
            padding-left: 1rem;
            color: #ffffff;
            font-weight: 700;
            font-size: 1.125rem;
          }
        }
      }

      &__price {
        width: 100%;
        background: #201850;
        padding: 0.5rem 0.75rem 0.75rem 2rem;
        border-radius: 0 0 0.5rem 0.5rem;

        > div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          span {
            font-size: 0.75rem;
            color: #ffffff;
          }
        }

        .price {
          &--thg {
            margin-top: 0.5em;
          }

          &--usd {
            justify-content: end;
            span {
              font-size: 0.75rem;
              color: #c6c9dc;
            }
          }

          &__amount {
            color: #ffe076;
            font-size: 1.125rem;
            font-weight: 600;
            line-height: 1.44;
          }

          &__icon {
            display: inline-block;
            width: 1rem;
            margin-right: 0.375rem;

            img {
              width: 100%;
              height: auto;
              object-fit: contain;
            }
          }
        }

        .info {
          &__battle {
            .battle {
              &__count {
                color: #10ff00;
              }
            }
          }
        }
      }
    }
  }
}
