.header {
  width: 100%;
  display: flex;
  align-items: center;
  background: #020205;
  height: 68px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;

  &__logo {
    display: flex;
    align-items: center;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);

    > a {
      text-decoration: none;
      height: 100%;
    }
  }
}

.logo__container {
  background: #5333ff;
  width: 6.5rem;
  padding-right: 0.625rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  > img {
    width: 3.25rem;
    height: auto;
    z-index: 1;
  }
}
