.marketplace {
  height: 100vh;
  &__tabs {
    height: 4.6875em;
    position: sticky;
    top: 68px;
    left: 0;
    background: #0f0933;
    z-index: 4;
    border-bottom: 1px solid #322272;
    width: 100vw;
    margin-left: calc((100vw - 1024px) / -2);
    padding-left: calc((100vw - 1024px) / 2);

    @media screen and (min-width: 1440px) {
      & {
        margin-left: calc((100vw - 1440px) / -2);
        padding-left: calc((100vw - 1440px) / 2);
      }
    }
  }
  .tabs {
    &__indicator {
      clip-path: none;
      background: #795cf5;
      box-shadow: none;
      height: 0.3125rem;
      bottom: 0;
    }

    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 1rem;
    }
  }

  .content {
    &__icon {
      margin-right: 0.625rem;
    }
  }
}
