.marketplace {
  padding-bottom: 3rem;
  &__tabs {
    height: 4.6875em;
    position: sticky;
    top: 68px;
    left: 0;
    background: #0f0933;
    z-index: 4;
    border-bottom: 1px solid #322272;
    width: 100vw;

    @media screen and (min-width: 768px) and (max-width: 1025px) {
      & {
        margin-left: calc((100vw - 768px + 30px) / -2);
        padding-left: calc((100vw - 768px + 30px) / 2);
      }
    }

    @media screen and (min-width: 1025px) and (max-width: 1440px) {
      & {
        margin-left: calc((100vw - 968px + 30px) / -2);
        padding-left: calc((100vw - 968px + 30px) / 2);
      }
    }

    @media screen and (min-width: 1440px) {
      & {
        margin-left: calc((100vw - 1440px + 30px) / -2);
        padding-left: calc((100vw - 1440px + 30px) / 2);
      }
    }
  }
  .tabs {
    &__indicator {
      clip-path: none;
      background: #795cf5;
      box-shadow: none;
      height: 0.3125rem;
      bottom: 0;
    }

    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 1rem;
    }
  }

  .content {
    &__icon {
      margin-right: 0.625rem;
    }
  }

  .loading__indicator {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 3rem;
      height: auto;
    }
  }
}
