.tabs {
  &__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    clip-path: polygon(0.8rem 0, 100% 0, calc(100% - 0.8rem) 100%, 0 100%);
    padding: 0 2.5rem;
    margin-right: -1rem;

    &--active {
      color: #fff;
      pointer-events: none;
    }

    .item__content {
      font-size: 1rem;
      font-weight: 400;
      color: #c9c5db;
    }
  }
}
